<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand test" do %>
  <%= image_tag "https://res.cloudinary.com/christal-empire/image/upload/v1582636948/luxe_nztm7h.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "/", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add Product", "/products/new", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Edit", edit_product_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Something", edit_product_path, class: "nav-link" %>
      </li>

      <li class="nav-item dropdown nav-link" >
        <p class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Make Reservation</p>
        <div class="dropdown-menu dropdown-menu-right nav-item active" aria-labelledby="navbarDropdown">
          <%= link_to "Add Product", "/products/new", class: "dropdown-item" %>
          <%= link_to "My products", products_path, class: "dropdown-item" %>
          <%= link_to "Product bookings", "#", class: "dropdown-item" %>
        </div>
      </li>
      <div class="nav-item">
        <% if user_signed_in? %>
        <div>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-primary') %>
        </div>
        <% else %>
        <div>
          <%= link_to('Login', new_user_session_path, :class => 'btn btn-primary') %>
        </div>
        <% end %>
      </div>
    </ul>
  </div>
</div>


