<%= render 'shared/navbar' %>
<div class="home-bannerboat">
  <h1><strong>RentArt</strong></h1>
  <h2>Travel the world in style!</h2>
</div>
<h3><%= link_to "Helicopters", helicopters_products_path %></h3>
<h3><%= link_to "Planes", planes_products_path %></h3>
<h3><%= link_to "Cars", cars_products_path %></h3>
<h3><%= link_to "Yachts", yachts_products_path %></h3>
<h3><%= link_to "Others", others_products_path %></h3>
</div>
</div>

