<div class="home-bannerboat">
  <h1><strong>RentArt</strong></h1>
  <h2>Travel the world in style!</h2>
</div>

<div class="home mt-5 mb-5">
  <h3>How would <strong>you</strong> like to travel?</h3>
</div>

<div class="cards mt-3">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://global-helicopter-service.com/wp-content/uploads/2018/10/bell-412-in-air-nigeria.jpg)">
    <%= link_to "Helicopters", category_products_path('Helicopter') %>
  </div>


  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://robbreportedit.files.wordpress.com/2018/05/pilatus-pc-24.jpg?w=1000)">
    <%= link_to "Planes", category_products_path('Plane') %>
  </div>


  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.insider.com/5b59df8d1982d835008b460a?width=1100&format=jpeg&auto=webp)">
    <%= link_to "Yachts", category_products_path('Yacht')  %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/p16-1028-a4-rgb-1521465282.jpg)">
    <%= link_to "Cars", category_products_path('Car')  %>
  </div>


  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://avadatravel.com/wp-content/uploads/2019/05/Luxury-Travel-Laos.jpg)">
    <%= link_to "Others", category_products_path('Other') %>
  </div>

</div>

