
<div class="container mt-5">
<h1>Your reservation has been created</h1>


<div class="card-product">
<%= cl_image_tag @product.photo.attached? ? @product.photo.key : "pn4d9wzxnc9advmnrniw", width: 400, height: 300, crop: :fill %>
  <div class="card-product-infos">

  <ul class="productList">
    <li><%= "From: #{@reservation.start_date} until: #{@reservation.end_date}"%></li>
    <li><%= "- Category: #{@product.category}" %></li>
    <li><%= "- € #{@product.price} per day" %></li>
     <li><%= "- € #{@reservation.price} in total" %></li>
  </ul>
  <%= link_to "back", root_path %>

</div>
  </div>
</div>

