1 <h1>index reservations</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="od">Add reservation</div>
        <%= simple_form_for [@product, @reservation] do |f| %>
        <%= f.input :date %>
        <%= f.association :user %>
        <!-- <%= f.association #:review %> -->
        <%= f.submit class: "btn btn-primary" %>

    </div>
  </div>
</div>
