<%= render 'shared/navbar-new' %>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">

<h1>Book your own luxury transport</h1>
<%= simple_form_for [@product, @reservation] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <div class="btn btn-primary">
  <%= f.button :submit %>
  </div>
<% end %>

<%= link_to "back", products_path %>
    </div>
  </div>
</div>


