<%= render 'shared/navbar-new' %>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">

<h1>Add a new Product</h1>
<%= simple_form_for @product do |f| %>
  <%= f.input :name, placeholder: 'Product name please', error: 'Product name is mandatory, please specify one' %>
  <%= f.input :details %>
  <%= f.input :price, placeholder: 'Price per day'%>
  <%= f.input :category, collection: Product::CATEGORY %>
  <%= f.input :photo, as: :file %>
  <div class="btn btn-primary">
  <%= f.button :submit %>
  </div>
<% end %>
<% if @product.save %>
<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 you successfully added a new product.</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
<% end %>

<%= link_to "back", products_path %>
    </div>
  </div>
</div>

