<h1><%= "Review #{@reservation.product.name}" %></h1>

<div>
<%= simple_form_for [@reservation, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :stars, collection: [0, 1, 2, 3, 4, 5] %>
  <%= f.submit "add review", class: "btn btn-primary" %>
<% end %>
</div>
